# Arquivos de dependências do Node (se usar no futuro)
node_modules/

# Arquivos de configuração do editor de código
.vscode/

# Arquivos de sistema operacional
.DS_Store

# Pastas de build/distribuição (onde os instaladores ficarão)
/dist/
/release/

out/